default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  adapter: postgresql
  encoding: unicode
  database: LifeInvader_development
  host: localhost
  pool: 5
  username: lifeinvader
  password: password1

test:
  adapter: postgresql
  encoding: unicode
  database: LifeInvader_test
  host: localhost
  pool: 5
  username: lifeinvader
  password: password1

production:
  <<: *default
  database: LifeInvader_production
  username: lifeinvader
  password: <%= ENV['LIFEINVADER_DATABASE_PASSWORD'] %>
