<div class="post_form">
  <%= form_for(@post) do |f| %>
    <h3><%= f.text_area :content, size: "55x5", placeholder: "New post..." %></h3>
    <h4>
      <%= f.submit "Post" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>  
    </h4>
  <% end %>
</div>  