<div class="feed_post" style="font-size: 24px; border-bottom: 2px solid #ee5253;">
  <h2 style="color: orange; font-family: 'Play', sans-serif; text-align: center;">WELCOME!</h2>
  <ul>
    <li>
      Use the search to find your friends or leave it empty to get a full list of users.<br />
      Check what they are up to!
    </li>
    <br />
    <li>
      You can check your profile and update your picture.
    </li>
    <br />
    <li>
      Make your first post!
    </li>
  </ul>
</div>