html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(240,240,240,0.9);
}

.main_container {  
  margin-top: 110px;
  margin-bottom: 30px;
  text-align: center;
}

/* user profile */

.profile_pic {
  display: block;
  width: 40%;
  margin: auto;
  text-align: left;
}