.Navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left center-left center-right right";
  font-family: 'Play', sans-serif;
  border-bottom: 3px solid #ee5253;
  background: #f368e0; /* Old browsers */
  background: -moz-linear-gradient(left, #f368e0 0%, #ff9f43 60%, #ff9f43 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f368e0', endColorstr='#ff9f43',GradientType=1 ); /* IE6-9 */
  width: 100%;
  min-width: 600px;
  position: fixed;
  top: 0px;
  box-shadow: -5px -5px 20px 0px;
  z-index: 10;
  padding: 5px 0px;
}

.Nav_buttons {
  grid-area: center-right;
  align-self: center;
  justify-self: right;
  display: inline;
  min-width: 300px;
}

.Nav_buttons a {
  padding: 4px 8px;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: all 0.3s linear;
}

.Navbar span {
  grid-area: left;
  align-self: center;
  justify-self: right;
  color: orange;
  font-size: 30px;
  font-weight: bold;
}

#Alien_logo svg {
  position: relative;
  top: 3px;
  fill: white;
}

#Search_form {
  grid-area: center-left;
  align-self: center;
  justify-self: center;
  border: 0px solid white;
  border-radius: 4px;
  background: white;
  width: 60%;
  min-width: 160px;
  margin-left: 15px;
}

.Text_field {
  display: inline-block;
  font-size: 11px;
  font-weight: 650;
  border: 0px solid white;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 7px;
}

.Text_field:focus {  
  outline-color: white;
}

.Button {
  display: inline-block;
  font-size: 16px;
  font-weight: 1000;
  background-color: rgb(245,245,245);
  border: 0px solid white;
  padding: 3px 10px;
  border-radius: 0px 4px 4px 0px;
  float: right;
  cursor: pointer;
  opacity: 0.7;
}

#Profile_button {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  border-right: 2px solid darkorange;
}

#Home_button {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  color: rgba(0,0,0,0.7);
}

#Profile_button:hover {
  background-color: darkorange;
  border-radius: 4px; 
}

#Pending_notifications, #Notifications, #Logout_button {
  color: rgba(0,0,0,0.7);
  position: relative;
  top: 1px
}

#Pending_notifications {
  color: rgb(175,0,0);
  letter-spacing: 2px;
}

