.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left center-left center-right right";
  font-family: 'Play', sans-serif;
  border-bottom: 3px solid #ee5253;
  background: #f368e0; 
  /* FF3.6-15 */
  background: -moz-linear-gradient(left, #f368e0 0%, #ff9f43 60%, #ff9f43 100%); 
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(left, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); 
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to right, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); 
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f368e0',
          endColorstr='#ff9f43',GradientType=1 ); 
  width: 100%;
  min-width: 300px;
  position: fixed;
  top: 0;
  box-shadow: -5px -5px 20px 0;
  padding: 5px 0;
  z-index: 2
}

.logged_off_navbar {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left center-left center-right right";
  font-family: 'Play', sans-serif;
  letter-spacing: 5px;
  border-bottom: 3px solid #ee5253;
  background: #f368e0; 
  /* FF3.6-15 */
  background: -moz-linear-gradient(left, #f368e0 0%, #ff9f43 60%, #ff9f43 100%); 
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(left, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); 
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to right, #f368e0 0%,#ff9f43 60%,#ff9f43 100%); 
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f368e0',
          endColorstr='#ff9f43',GradientType=1 ); 
  width: 100%;
  min-width: 550px;
  position: fixed;
  height: 70px;
  top: 0;
  box-shadow: -5px -5px 20px 0;
  padding: 5px 0;
  z-index: 2
}

.nav_buttons {
  grid-area: center-right;
  align-self: center;
  justify-self: right;
  display: inline;
  min-width: 495px;
}

.nav_buttons a {
  padding: 4px 8px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.navbar span {
  grid-area: left;
  align-self: center;
  justify-self: right;
  color: orange;
  font-size: 30px;
  font-weight: bold;
}

.navbar_avatar {
  position: relative;
  top: 5px;
  width: 32px;
  height: Auto;
  display: inline-block;
  border-radius: 100px;
  margin-left: 10px;
}

#alien_logo svg {
  position: relative;
  top: 3px;
  fill: white;
}

#logged_off_alien_logo svg {
  fill: white;
  transform: scale(2.0);
}

#logged_off_alien_logo {
  position: relative;
  align-self: center;
  grid-area: center-right;
  fill: white;
  z-index: 10;
}

.logged_off_title_left {
  grid-area: left;
  position: absolute;
  top: 20px;
  display: inline-block;
  font-size: 31px;
  margin-left: 5%;
  width: 100%;
  min-width: 300px;
  color: white;
}

.logged_off_title_right {
  grid-area: left;
  position: absolute;
  top: 50px;
  display: inline-block;
  font-size: 18px;
  margin-left: 15%;
  width: 100%;
  min-width: 300px;
  color: white;
}

#search_form {
  grid-area: center-left;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border: 0 solid white;
  border-radius: 4px;
  background: white;
  width: 40%;
  min-width: 180px;
  margin-left: 15px;
  height: 25px;
}

.text_field {
  display: inline-block;
  font-size: 11px;
  font-weight: 650;
  border: 0 solid white;
  border-radius: 4px;
  padding-left: 5px;
  margin-top: 7px;
}

.text_field:focus {  
  outline-color: white;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 1000;
  background-color: rgb(245,245,245);
  border: 0 solid white;
  padding: 2px 10px;
  border-radius: 0 4px 4px 0;
  float: right;
  cursor: pointer;
}

#profile_button {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  border-right: 2px solid darkorange;
}

.dropdown_link {
  color: black;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  font-size: 15px;
}

#profile_button:hover, .dropdown_link:hover {
  background-color: darkorange;
  border-radius: 4px; 
}

#logout_button {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  color: rgba(0,0,0,0.7);
  letter-spacing: 3px;
}

#logout_button:after {
  content: "LOGOUT";
}

#friend_list {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  color: rgba(0,0,0,0.7);
  letter-spacing: 3px;
}

#friend_list:after {
  content: "FRIENDS";
}

#home_button {
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 10px 5px 10px;
  color: rgba(0,0,0,0.7);
  letter-spacing: 3px;
}

#home_button:after {
  content: "HOME";
}

.notifications {
  border-radius: 4px;
  padding: 2px 0 0 5px !important;
  cursor: pointer;
}

#pending_notifications {
  color: rgb(175,0,0);
  letter-spacing: 2px;
}

.dropdown_menu {
  position: absolute;
  display: none;
  min-width: 320px;
  grid-area: center-right;  
  right: 135px;
  top: 44px;
  border: 2px solid #ee5253;
  padding: 8px;
  background-color: white;
  border-radius: 3px;
}

.dropdown_element {
  border-bottom: 2px solid rgba(255,0,0,0.3);
  padding: 5px;
}

.visible { 
  display: block;
}