.feed_container {
  display: inline-block;
  text-align: left;
  width: 40%;
  min-width: 600px;
}

.feed_comment {
  border: 1px solid black;
}

.feed_post img {
  height: auto;
  width: 100%;
}

.delete_link {
  display: inline-block;
  border: 1px solid black;
}