@media only screen and (max-width: 768px) {

  .background_image {
    display: none;
  }

  .login_form {
    margin-top: 0 !important;
    width: 100% !important;
    min-width: 200px !important;

    & > * {
      width: 400px;
      margin: 15px auto 0 auto;
    }
  }

  .navbar {
    margin-bottom: 0;
    min-width: 300px !important;
  }

  #search_form {
    grid-area: left !important;
    
    min-width: 120px !important;
    margin-left: 3px !important;
  }

  .nav_buttons {
    grid-area: center-left !important;
    min-width: 235px !important;
  }
  
  #notifications {
    font-size: 18px !important;
    margin-left: 5px;
  }

  #profile_button {
    padding: 2% !important;
    margin-left: 5px;
  }

  #logout_button {
    padding: 1% !important;
  }
  
  #friend_list {
    padding: 1% !important;
  }

  #home_button {
    padding: 1% !important;
    font-size: 25px !important;
  }

  #alien_logo { 
    grid-area: right !important;
    margin-right: 10px;
  }

   #logout_button:after { 
    content: "🚪" !important;
    margin-left: 10px;
  }
  
   #friend_list:after { 
    content: '👤' !important;
    margin-left: 10px;
  }

  #home_button:after {
    display: none;
    margin-left: 15px;
  }

  .logged_off_navbar {
    margin-bottom: 0;
    min-width: 200px ;
    width: 100%;
  }

  img.navbar_avatar {
    display: none;
  }

  .text_field {
    height: 15px !important;
    min-width: 0px !important;
  }

  .field {
    width: 75%;
  }

  .main_container { 
    margin-top: 40px !important;
    margin-bottom: 20px;
    min-width: 300px !important;
  }

  .profile_pic {
    min-width: 332px !important;
    width: 100% !important;
    margin: 30px auto 0 auto !important;
  }

  .feed_container { 
    width: 100% !important;
    min-width: 332px !important;
  }

  .feed_post .small_avatar {
    width: 32px !important;
    height: 32px !important;
  }

  .feed_post .dropdown_link {
   padding: 0 !important;
  }

  .post_info, .comment_info {
    font-size: 12px !important;
  }

  .likes_container {
    padding: 1px !important;
    font-size: 10px !important;
  }

  .thumb_icon, .thumb_icon_liked {
    font-size: 16px !important;
  }

  .trash_icon {
    transform: scale(1.1) !important;
    margin-left: 3px !important;
  }

  .dropdown_menu {
    right: -10px !important;
  }
}

@media only screen and (max-width: 460px) {
  .login_form {
    & > * {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 390px) {
  #alien_logo svg {
    display: none;
  }

  #home_button:after {
    position: relative;
    top: -1px;
    display: inline;
    content: "⌂" !important;
  }

  .login_form {
    & > * {
      width: 280px;
    }
  }
}
