<div class="Navbar">
  <span id="Big_title"><a  href=<%= root_path %>>LIFE INVADER</a></span>
  <div class="Nav_buttons">
    <a id="Home_button" href=<%= root_path %>>HOME</a>
    <a id="Github_button" href="//www.javiermachin.com" target="_blank">GITHUB</a>
  </div>
</div>